<%- include("../../includes/head.ejs") -%>
 <head>
<body>
  <%- include("../../includes/sidebar.ejs") -%>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <%- include("../../includes/navbar.ejs") -%>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Datatables</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Data</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#"  class="btn btn-sm btn-neutral">New</a>
              <a  class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#exampleModal">Filters</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">User Information</h3>
            <!---deleted-->
            </div>
            <div class="table-responsive py-4">
              <table class="table table-flush" id="datatable-basic">
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Phonenumber</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Phonenumber</th>
                  </tr>
                </tfoot>
                <tbody>
                  <%userList.forEach(user => {%>
                      <tr>
                        <td><%=user.name%></td>
                        <td><%=user.email%></td>
                        <td><%=user.birthday%></td>
                        <td><%=user.position%></td>
                        <td><%=user.department%></td>
                        <td><%=user.phonenumber%></td>
                      </tr>
                    <%})%>
                </tbody>
              </table>
            </div>
          </div>
    <!---deleted-->
        </div>
      </div>
      <!-- Footer -->
    <!---deleted-->
      <!-- Modal AdvanceFilter -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Choose to filter</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/admin/userInfo/filter" method="GET">
              <div class="modal-body">
                <div class="form-group">
                  <label class="form-control-label">Department</label>
                  <select name="department" class="form-control" data-toggle="select" multiple data-placeholder="Select multiple options" >
                    <%department.forEach(element => {%>
                      <option><%= element%></option>
                    <%})%>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Position</label>
                  <select name="position" class="form-control" data-toggle="select" multiple data-placeholder="Select multiple options" >
                    <%position.forEach(element => {%>
                      <option><%= element%></option>
                    <%})%>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Birthday</label>
                  <input name="birthday" data-date-format="dd/mm/yyyy" id="datepicker-birthday" class="form-control datepicker" placeholder="Select date" type="text">
                </div>
              </div>
                <div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Find</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
  <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
  <script src="/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="/assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
  <%- include("../../includes/script.ejs") -%>
  <script src="/assets/js/sweetAlert.js"></script>
</body>

</html>