<%- include("../../includes/head.ejs") -%>


    
 <head>
<body>
  <%- include("../../includes/sidebar.ejs") -%>
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <%- include("../../includes/navbar.ejs") -%>
    <!-- Header -->
    <!-- Header -->
    <div class="header header-dark bg-primary pb-6 content__title content__title--calendar">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6">
              <h6 class="fullcalendar-title h2 text-white d-inline-block mb-0">Full calendar</h6>
              <nav aria-label="breadcrumb" class="d-none d-lg-inline-block ml-lg-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="/admin/eventInfo">Event</a></li>
                  <!-- <li class="breadcrumb-item active" aria-current="page">Calendar</li> -->
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 mt-3 mt-lg-0 text-lg-right">
              <a href="#" class="fullcalendar-btn-prev btn btn-sm btn-neutral">
                <i class="fas fa-angle-left"></i>
              </a>
              <a href="#" class="fullcalendar-btn-next btn btn-sm btn-neutral">
                <i class="fas fa-angle-right"></i>
              </a>
              <a href="#" class="btn btn-sm btn-neutral" data-calendar-view="month">Month</a>
              <a href="#" class="btn btn-sm btn-neutral" data-calendar-view="basicWeek">Week</a>
              <a href="#" class="btn btn-sm btn-neutral" data-calendar-view="basicDay">Day</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <!-- Fullcalendar -->
          <div class="card card-calendar">
            <!-- Card header -->
            <div class="card-header">
              <!-- Title -->
              <h5 class="h3 mb-0">Calendar</h5>
            </div>
            <!-- Card body -->
            <div class="card-body p-0">
              <div class="calendar" data-toggle="calendar" id="calendar"></div>
            </div>
          </div>
          <!-- Modal - Add new event -->
          <!--* Modal header *-->
          <!--* Modal body *-->
          <!--* Modal footer *-->
          <!--* Modal init *-->
          <div class="modal fade" id="new-event" tabindex="-1" role="dialog" aria-labelledby="new-event-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-secondary" role="document">
              <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                  <form class="new-event--form" action="/admin/createEvent" method="POST" id="formEvent">
                    <div class="form-group">
                      <label class="form-control-label" for="name">Name</label>
                      <input id="eventName"  type="text" class="form-control form-control-alternative new-event--title"required >
                    </div>
                    <div class="form-group">
                      <label class="form-control-label" for="position">Position</label>
                      <input id="eventPosition"  type="text" class="form-control form-control-alternative new-position--position" required>
                    </div>
                    <div class="form-group mb-0">
                      <label class="form-control-label d-block mb-3">Status color</label>
                      <div class="btn-group btn-group-toggle btn-group-colors event-tag" data-toggle="buttons">
                        <label class="btn bg-info active"><input type="radio" name="tag" value="bg-info" autocomplete="off" checked></label>
                        <label class="btn bg-warning"><input type="radio" name="tag" value="bg-warning" autocomplete="off"></label>
                        <label class="btn bg-danger"><input type="radio" name=tag" value="bg-danger" autocomplete="off"></label>
                        <label class="btn bg-success"><input type="radio" name=tag" value="bg-success" autocomplete="off"></label>
                        <label class="btn bg-default"><input type="radio" name=tag" value="bg-default" autocomplete="off"></label>
                        <label class="btn bg-primary"><input type="radio" name=tag" value="bg-primary" autocomplete="off"></label>
                      </div>
                    </div>
                    <input id="handleEvent" name="name" type="hidden" />
                    <input name="start" type="hidden" class="new-event--start" />
                    <input name="end" type="hidden" class="new-event--end"  />
                  </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button id="btnSubmitEvent" type="submit" form="formEvent" class="btn btn-primary new-event--add">Add event</button>
                  <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal - Edit event -->
          <!--* Modal body *-->
          <!--* Modal footer *-->
          <!--* Modal init *-->
          <div class="modal fade" id="edit-event" tabindex="-1" role="dialog" aria-labelledby="edit-event-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-secondary" role="document">
              <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                  <form class="edit-event--form" >
                    <div class="form-group">
                      <label class="form-control-label">Name</label>
                      <input type="text" class="form-control form-control-alternative edit-event--title" required >
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">Position</label>
                      <input type="text" class="form-control form-control-alternative edit-event--position" required >
                    </div>
                    <div class="form-group">
                      <label class="form-control-label d-block mb-3">Status color</label>
                      <div class="btn-group btn-group-toggle btn-group-colors event-tag mb-0" data-toggle="buttons">
                        <label class="btn bg-info active"><input type="radio" name="tag" value="bg-info" autocomplete="off" checked></label>
                        <label class="btn bg-warning"><input type="radio" name="tag" value="bg-warning" autocomplete="off"></label>
                        <label class="btn bg-danger"><input type="radio" name="tag" value="bg-danger" autocomplete="off"></label>
                        <label class="btn bg-success"><input type="radio" name="tag" value="bg-success" autocomplete="off"></label>
                        <label class="btn bg-default"><input type="radio" name="tag" value="bg-default" autocomplete="off"></label>
                        <label class="btn bg-primary"><input type="radio" name="tag" value="bg-primary" autocomplete="off"></label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="example-time-input" class="form-control-label">Time</label>
                     <div class='input-group date' id='datetimepicker-timeonly'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon input-group-append">
                            <button class="btn btn-outline-primary" type="button" id="button-addon2">  
                            <span class="fa fa-calendar"></span></button>
                        </span>
                    </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">Description</label>
                      <textarea class="form-control form-control-alternative edit-event--description textarea-autosize" placeholder="Event Desctiption"></textarea>
                      <i class="form-group--bar"></i>
                    </div>
                    <input type="hidden" class="edit-event--id">
                  </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button class="btn btn-primary" data-calendar="update">Update</button>
                  <button class="btn btn-danger" data-calendar="delete">Delete</button>
                  <button class="btn btn-link ml-auto" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Footer -->
      <%-include("../../includes/footer.ejs")-%> 
    </div> 
  </div>

    <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="/assets/vendor/moment/min/moment.min.js"></script>
  <script src="/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="/assets/vendor/fullcalendar/dist/fullcalendar.min.js"></script>
  <script src="/assets/js/handleEventName.js"></script>
  <script src="/assets/vendor/moment.min.js"></script>
  <script src="/assets/vendor/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker-timeonly').datetimepicker({
        format: 'LT',
        icons: {
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down",
        }
      });
    });
  </script>
<%- include("../../includes/script.ejs") -%>
</body>

</html>
